<div id="<%= dom_id todo_item %>">
  <%= form_with model: todo_item do |f| %>
    <%= f.check_box :completed, data: { controller: 'put-request', 'put-request-url-value': todo_item_url(todo_item), action: "change->put-request#start" } %>
    <strong><%= todo_item.content %></strong>
  <% end %>
</div>
