<p style="color: green"><%= notice %></p>

<% content_for :title, "Todo items" %>

<h1>Todo items</h1>

<div id="todo_items">
  <% @todo_items.each do |todo_item| %>
    <%= render todo_item %>
  <% end %>
</div>

<h2>Add new item</h2>
<%= turbo_frame_tag "new-todo-item", src: new_todo_item_path do %>
  loading
<% end %>
