<% content_for :title, "New todo item" %>

<h1>New todo item</h1>

<%= turbo_frame_tag "new-todo-item" do %>
  <%= render "form", todo_item: @todo_item %>
<% end %>

<br>

<div>
  <%= link_to "Back to todo items", todo_items_path %>
</div>
